{% extends "libeiki/base.html" %}

{% load static %}

{% block menu %}
    {% include 'libeiki/menu.html' %}
{% endblock %}

{% block content %}

<style>
.reiki_signe {
    text-align: right;
}

.fi-telephone,.fi-mail, .fi-social-facebook, .fi-social-instagram {
    font-size: 30px;
}

.contact {
    text-align: center;
}



.facebook, .instagram, .email  {
    font-size: 22px;
}

a:hover {
    color:#345D4D
}

@media only screen and (max-width: 1200px) {

.fi-telephone,.fi-mail, .fi-social-facebook, .fi-social-instagram {
    font-size: 18px;
    color:black;
}

.nom, .email, .facebook, .instagram {
    font-size: 18px;
    color:black;
}
}
</style>

<body class="contact">    
    <div class="contenu-principal">                
        <div class="grid-container">                                 
            <p class="nom">JOAQUIM Gabrielle</p>
            <p class="contact fi-telephone" >                        
                : 07 64 37 51 26
            </p>
            <p class="contact fi-mail">
                    : 
                    <a  class="email" href="mailto:libellule_1982@hotmail.com" target="_blank">
                        libellule_1982@hotmail.com
                    </a>
            </p>
            <p class="contact fi-social-facebook">
                :
                <a class="facebook" href="https://www.facebook.com/Libeiki" target="_blank">
                    @Libeiki sur facebook
                </a>
            </p>
            <p class="contact fi-social-instagram">        
                :                 
                <a href="https://www.instagram.com/libeiki/" target="_blank" class="instagram">
                    @Libeiki sur instagram
                    </a>
            </p>                    
        </div>
    </div>
</body>

<footer>
    {% include 'libeiki/footer.html' %}
</footer>
{% endblock %}