{% load static %}

<style>
    .footer {
        margin-bottom: 5px;
        margin-top: 5px;
        text-align: center;
        color: white;
    }
    a {
        text-decoration: none;
    }
    footer {
        background-image: url('{% static "/photos/fond.png" %}');
        background-size: cover;
        background-position: center;
        color: white;
        padding: 10px;
        font-size: 12px;
    }  
    
    @media only screen and (max-width: 1260px) {
        footer {
            background-color: #76B39B;
            color: white;
            padding: 10px;
            text-align: center; 
            font-size: 9px;
        }
    }
</style>

<footer>
    <p class="footer">LIBEIKI © Gabrielle JOAQUIM - SIRET - XXX XXX XXX XXXXX - www.libeiki.fr - 2024 - <a href="{% url 'libeiki:mentions_legales' %}">Mentions légales</a></p>
</footer>