{% extends "libeiki/base.html" %}

{% load static %}

{% block menu %}
    {% include 'libeiki/menu.html' %}
{% endblock %}

{% block content %}

<style>
    body {
        margin: 0;
        font-family: Dosis, sans-serif;
        background-image: url('{% static "/photos/fond.png" %}');
        background-size: cover;
        background-position: center;
        height: 100vh;
    }   

    h4, .thumbnail {
        text-align: center;
        font-family: "Dosis, sans-serif";
    }

    .img-lignee {
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: center;
        color: black;
    }

    @media only screen and (max-width: 768px) {
        .intro {
            font-size: 18px;
        }
    }
</style>
<body>
    <div class="contenu-principal">                
        <div class="grid-container">                       
            <h4>Lignée Reiki</h4>    
            <div class='img-lignee' style="text-align: center;">
                <img class="lignee" src="{% static '/photos/lignee_reiki.png' %}" alt="Logo de votre site" class="logo" style="text-align: center;">
            </div>                    
        </div>
    </div>
</body>
<footer>
    {% include 'libeiki/footer.html' %}
</footer>
{% endblock %}