{% extends "libeiki/base.html" %}

{% load static %}

{% block menu %}
    {% include 'libeiki/menu.html' %}
{% endblock %}

{% block content %}

<style>
    .img-lignee {
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: center;
        color: black;
    }
</style>

<body>
    <div class="contenu-principal">                
        <div class="grid-container">                       
            <h3 class="titre">LIGNEE REIKI</h3>    
            <div class='img-lignee'>
                <img class="lignee" src="{% static '/photos/lignee_reiki.png' %}" alt="Logo de votre site" class="logo" style="text-align: center;">
            </div>                    
        </div>
    </div>
</body>

<footer>
    {% include 'libeiki/footer.html' %}
</footer>

{% endblock %}