{% extends "libeiki/base.html" %}

{% load static %}

{% block menu %}
    {% include 'libeiki/menu.html' %}
{% endblock %}

{% block content %}

<body>
    <div class="contenu-principal">                
        <div class="grid-container">       
            <fieldset class="fieldset">
                <legend>Qu'est ce que le massage baguette Kansa ?</legend>                         
            <p class="intro">
                Il s’agit d’un massage du crâne, du visage, du cou et des épaules, qui se
                pratique à l’aide de la baguette kanza, et d’huiles naturelles.<br>
                Le mot Kansa prononcé comme « Kaahn-sah » est réputé pour être un métal
                guérisseur de l’Inde. Il s’agit d’un mélange de cuivre pur et d’étain à
                proportion fixe; une version unique du bronze.<br>
                Dans l’ayurveda, l’ancienne science indienne de la vie, a vénéré le Kanza en
                tant que métal guérisseur et l’a utilisé pour guérir le corps, reconnaissant
                ainsi l’effet et détoxiquant du kanza depuis des siècles.
            </p>
            </fieldset>

            <fieldset class="fieldset">
                <legend>Pour qui ?</legend>
            <p class="intro">
                Pour tous, il n’y a pas de limite d’âge ni de contre indication, du nourrisson à l’enfant, de
                l’adolescent à l’adulte, en passant de la femme enceinte et à la personne âgé. Chacun est
                apte à recevoir et à bénéficier des bienfaits du Reiki.
            </p>   
            </fieldset>

            <fieldset class="fieldset">
                <legend>Pourquoi ?</legend>
            <p class="intro">
                Le massage à la baguette kanza permet de:
                <ul>
                    <li class="liste-blanc italic">Soulager la fatigue résultant d’une utilisation prolongée des écrans.</li>
                    <li class="liste-blanc italic">Réduire les sensations de stress et les tensions.</li>
                    <li class="liste-blanc italic">Détendre les muscles du cou et des épaules.</li>
                    <li class="liste-blanc italic">Revitaliser le visage en lui apportant une lueur naturelle.</li>
                    <li class="liste-blanc italic">Aider à se détendre globalement.</li>
                </ul>
            </p>
            <p class="intro">
                Il peut aussi être utilisé pour :
                <ul>
                    <li class="liste-blanc italic">Les courbatures.</li>
                    <li class="liste-blanc italic">Le manque d’énergie.</li>
                    <li class="liste-blanc italic">Les coups de fatigue.</li>
                    <li class="liste-blanc italic">Le manque d’énergie.</li>
                </ul>
            </p>
            
        </fieldset>
            
        <fieldset class="fieldset">
            <legend>Comment ?</legend>
            <p class="intro">
                Vous restez habillé, allongé sur une table de massage. Pour faciliter la relaxation, vous
                ôterez simplement vos chaussures, et accessoires autour du visage . Vous serez
                recouvert d’une couverture afin d’être à l'aise et puissiez vous détendre. Laisser vous aller
                à se moment de bien-être rien que pour vous. 
            </p>   
        </fieldset>
        
        <fieldset class="fieldset" id="tarif-massage">
            <legend>Tarifs</legend>
            <p class="intro">
                Massage de 30 min : 40€
            </p>
            <p class="intro">
                Massage d’1h : 75€
            </p>
            <p class="intro">
                Forfait 4 séances de  30 minutes 150€ (économisez 10€).
            </p>
            <p class="intro">
                Forfait 4 séances d'une heure 290€ (économisez 10€).
            </p>
        </fieldset>
        </div>
    </div>
</body>
<footer>
    {% include 'libeiki/footer.html' %}
</footer>
{% endblock %}