{% load static %}

<style>
    a, ul, li {
    color: white;
    background-color: #76B39B;
    padding:-5px;
    margin:0;
  }        

  .top-bar, .top-bar-left, .top-bar-right, .menu.align-right.simple, .dropdown.menu.expanded.simple, .menu {
    background-color: #76B39B;
    justify-content: flex-end;
  }
</style>

<div class="top-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
  <div class="top-bar-left">
      <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
      <div class="title-bar-title">Menu</div>
  </div>
  <div class="top-bar-right" >
    <ul class="menu">
      <li>
        <a href="https://www.facebook.com/profile.php?id=100055443685243" target="_blank">
          <img src="{% static '/photos/instagram.png' %}" alt="Instagram" width="30">
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/profile.php?id=100055443685243" target="_blank">
          <img src="{% static '/photos/facebook.png' %}" alt="Facebook" width="30">
        </a>
      </li>
      <li>
        <a href="mailto:libellule_1982@hotmail.com" target="_blank">
          <img src="{% static '/photos/email.png' %}" alt="Mail To" width="30">
        </a>
      </li>      
    </ul>
  </div>
</div>


<div class="top-bar" id="responsive-menu">
  <div class="top-bar-left" > 
    <ul class="dropdown menu expanded simple" data-dropdown-menu>
      <li>
        <a href="#">REIKI</a>
        <ul class="menu vertical">
          <li><a href="#">Qu'est ce que le Reiki?</a></li>
          <li><a href="#">Tarifs</a></li>
        </ul>
      </li>
      <li>
        <a href="#">SOPHROLOGIE</a>
        <ul class="menu vertical">
          <li><a href="#">Qu'est ce que la Sophrologie?</a></li>
          <li><a href="#">Tarifs</a></li>
        </ul>
      </li>
      <li>
        <a href="#">MASSAGE VISAGE</a>
        <ul class="menu vertical">
          <li><a href="#">Qu'est ce que le Massage type?</a></li>
          <li><a href="#">Tarifs</a></li>
        </ul>
      </li>
      <li><a href="#">CONTACT</a></li>
      <li><a href="#">QUI SUIS-JE ?</a></li>
      <li><a href="#">LAISSER UN COMMENTAIRE</a></li>
    </ul>
  </div>
  <div class="top-bar-right" >
    <ul class="menu align-right simple">
      <li>
        <a href="https://www.facebook.com/profile.php?id=100055443685243" target="_blank">
          <img src="{% static '/photos/instagram.png' %}" alt="Instagram" width="30">
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/profile.php?id=100055443685243" target="_blank">
          <img src="{% static '/photos/facebook.png' %}" alt="Facebook" width="30">
        </a>
      </li>
      <li>
        <a href="mailto:libellule_1982@hotmail.com" target="_blank">
          <img src="{% static '/photos/email.png' %}" alt="Mail To" width="30">
        </a>
      </li>      
    </ul>
  </div>
</div>
  
</div>
