{% extends "libeiki/base.html" %}

{% load static %}

{% block menu %}

<style>
  @font-face {
    font-family: "Simsun";
    src: url("https://fontsforyou.com/fonts/s/Simsun.ttf");
  }
    /* Style pour le texte au-dessus des icônes sociales */
  .social-icons-container, .menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social-text {
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
  }

  .title {
    color:white;
    margin-top: -30px; 
    text-align: center;
  }

  h3 {
    font-family: "SimSun";
  }
  nav {
    background-image: url('{% static "/photos/fond.png" %}');
        background-size: cover;
        background-position: center;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .menu-li {
    margin-right: 20px;
    position: relative;
  }

  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  .logo {
    max-width: 150px;
    height: auto;
    padding-left: 0px;
  }

  figcaption {
    text-align: center; 
    color: white;
  }

  #nom {
    margin: 0;
    color: white;
  }

  .dropdown {
    position: absolute;
    top: 100%;
    left: -20px;
    display: none;
    background-color: #588573;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    z-index: 2;
  }

  .dropdown a {
    color: white;
    display: block;
    z-index: 2;
  }

  .dropdown {
    z-index: 10;
  }

  /* Nouvelle classe pour aligner les éléments à droite */
  .social-icons {
    display: flex;
    align-items: center;
  }

  .social-icons, .social {
    margin-right: 10px;
    z-index: 11;
  }

  /* Style pour le bouton de menu sur les écrans plus petits */
  .menu-icon {.social-text {
    margin-bottom: 10px; /* Ajustez cette valeur selon vos besoins */
    color: white; /* Choisissez la couleur du texte */
    font-size: 16px; /* Choisissez la taille de police */
  }
    display: none;
    cursor: pointer;
  }

  a:hover {
    border-bottom: 2px solid #fff;
    color: white; /* Changez cette valeur pour définir la nouvelle couleur au survol */
  }

  a:visited {
  color: white; /* Couleur des liens visités */
  }

  .contenu-principal.menu-open {
    margin-top: 155px; /* Ajustez la valeur selon la hauteur du sous-menu */
    transition: margin-top 0.3s ease-out;
  }

  .active_sub {
      display: flex;
      flex-direction: column;
      margin-top: 0px;
      position: absolute;
      left: 0;
      background-color: #345D4D;
      z-index: 2;
    }

    .social {
      font-size: 40px;
      margin: 10px;
    }
     
  @media only screen and (max-width: 1260px) {

    .social-text {
      font-size: 12px; /* Choisissez la taille de police */
    }

    #all-menu {
      text-align: center;
    }

    .logo {
      margin-right: 0;
      order: -1;
      width: 120px;
      margin-left: -20px;
    }

    .dropdown-max {
      display: none;
      background-image: url('{% static "/photos/fond.png" %}');
        background-size: cover;
        background-position: center;
    }

    ul.dropdown {
      width: 100%;
      flex-direction: column;
      position: relative;
      z-index: 2;
    }

    ul.dropdown .submenu {
      display: none;
      padding-left: 20px;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #76B39B;
      z-index: 2;
    }

    .sub .has-submenu:hover .submenu {
      display: block;
      animation: slideIn 2s ease-out;
    }

    .social-icons {
      z-index: 3;
      margin-right: -8px;
    }

    h1 {
      margin-right: -30px;
    }

    .menu-icon {
      display: block;
      cursor: pointer;
      position: relative;
      z-index: 3;
      margin-left: -30px;
    }

    .menu-icon, .social {
      width: 50px;
      height: 50px;
    }

    ul.active {
      display: flex;
      flex-direction: column;
      margin-top: 0px;
      width: 100%;
      position: absolute;
      top: 120px;
      left: 0;
      background-color: #76B39B;
      z-index: 2;
    }

    .active_sub {
      display: flex;
      flex-direction: column;
      margin-top: 0px;
      position: absolute;
      left: 0;
      background-color: #345D4D;
      z-index: 2;
    }
      
    .social {
      height: 2vh;
      width: auto;
      
    }

    .social {
      font-size: 20px;
      margin: 5px;
    }

    #titre-principal {
      margin-right: 30px;
    }

    /* Ajout de l'animation slideIn */
    @keyframes slideIn {
      from {
        opacity: 0;
        transform: translateX(-10px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }


</style>

<!-- Ajout du script JavaScript -->
<script>
  function toggleMenu() {
    var menu = document.querySelector('ul');
    menu.classList.toggle('active');

    var contenuPrincipal = document.querySelector('.contenu-principal');
    contenuPrincipal.classList.toggle('menu-open');   
    
    if (menu.classList.contains('active')) {
      contenuPrincipal.style.marginTop = '180px'; // Ajustez cette valeur selon votre design
    } else {
      contenuPrincipal.style.marginTop = '0';
    }
    }

  function toggleSubMenu(element) {
  var submenu = element.querySelector('.dropdown');
  var isOpen = submenu.classList.contains('active_sub');
  
  closeAllSubMenus(); // Fermer tous les sous-menus ouverts

  if (!isOpen) {
    submenu.classList.add('active_sub');
  }
}

  function closeAllSubMenus() {
  
  var subMenus = document.querySelectorAll('.dropdown');
  subMenus.forEach(function(submenu) {
    submenu.classList.remove('active_sub');
  });
}
</script>
<body>    
  <nav id="all-menu">    
    <div class="logo-container">
      <figure>
        <img src="{% static '/photos/logo_libeiki.png' %}" alt="Logo de votre site" class="logo">
      </figure>
      <div class="caption">
      <p id="nom"></p>
      </div>
    </div>  
    <div class="menu-container">
    <div class="title">
      <h1 id="titre-principal">LIBEIKI</h1>
    </div>  
    <!-- Bouton de menu pour les écrans plus petits -->
    <div class="menu-icon" id="menu-small" onclick="toggleMenu()">
    </div> 
    <ul class="dropdown-max menu-ul">
      <li class="menu-li"><a href="{% url 'libeiki:accueil' %}"><span class="fi-home"> ACCUEIL</span></a></li>
      <li class="sub menu-li" onclick="toggleSubMenu(this)">
        <a href="#">REIKI </a><span class="symbole">></span>
        <ul class="dropdown menu-ul">
          <li class="menu-li"><a href="{% url 'libeiki:reiki' %}">Qu'est ce que le Reiki?</a></li>
          <li class="menu-li"><a href="{% url 'libeiki:lignee_reiki' %}">Lignée Reiki</a></li>
          <li class="menu-li"><a href="{% url 'libeiki:reiki' %}#tarif-reiki">Tarifs</a></li>
        </ul>
      </li>
      <li class="sub menu-li" onclick="toggleSubMenu(this)">
        <a href="#">NUMEROLOGIE </a><span class="symbole">></span>
        <ul class="dropdown menu-ul">
          <li class="menu-li"><a href="{% url 'libeiki:numerologie' %}">Qu'est ce que la Numérologie?</a></li>
          <li class="menu-li"><a href="{% url 'libeiki:numerologie' %}#tarif-numerologie">Tarifs</a></li>
        </ul>
      </li>      
      <li class="menu-li sub" onclick="toggleSubMenu(this)">
        <a href="#">MASSAGE BAGUETTE KANSA </a><span class="symbole">></span>
        <ul class="dropdown menu-ul">
          <li class="menu-li"><a href="{% url 'libeiki:massage' %}">Qu'est ce que le Massage Baguette Kansa?</a></li>
          <li class="menu-li"><a href="{% url 'libeiki:massage' %}#tarif-massage">Tarifs</a></li>
        </ul>
      </li>
      <li class="sub menu-li" onclick="toggleSubMenu(this)">
        <a href="#">SOPHROLOGIE </a><span class="symbole">></span>
        <ul class="dropdown menu-ul">
          <li class="menu-li"><a href="{% url 'libeiki:sophrologie' %}">Qu'est ce que la Sophrologie?</a></li>
          <li class="menu-li"><a href="{% url 'libeiki:sophrologie' %}#tarif-sophrologie">Tarifs</a></li>
        </ul>
      </li>
      <li class="menu-li"><a href="{% url 'libeiki:contact' %}">CONTACT</a></li>
      <li class="menu-li"><a href="{% url 'libeiki:quisuisje' %}">QUI SUIS-JE ?</a></li>
      <li class="menu-li"><a href="{% url 'libeiki:send_commentaire' %}">LAISSER UN COMMENTAIRE</a></li>
    </ul>
  </div>
    <!-- Nouvelle structure pour les icônes sociales -->
    <div class="social-icons-container">
      <div class="social-text">JOAQUIM Gabrielle</div>
      <div class="social-text">07 64 37 51 26</div>
      <div class="social-icons">
        <a class="social" href="https://www.facebook.com/Libeiki" target="_blank">
          <i class="fi-social-facebook"></i> 
        </a>
        <a class="social" href="https://www.instagram.com/libeiki/" target="_blank">
          <i class="fi-social-instagram"></i>         
        </a>
        <a class="social" href="mailto:libellule_1982@hotmail.com" target="_blank"><i class="fi-mail"></i> </a>
      </div>
    </div>
  </nav>
</body>
{% endblock %}
