{% extends "libeiki/base.html" %}

{% load static %}

{% block menu %}
    {% include 'libeiki/menu.html' %}
{% endblock %}

{% block content %}

<style>

    h4 {
        font-family: "Dosis", sans-serif;
    }

    .intro {
        text-align: justify;
    }

    .reiki_signe {
        text-align: right;
    }

    h5 {
    font-family: "Dosis", sans-serif;
    }

    .fieldset {
                border-color: #54977C;
                border-width: 2px;
                }

            legend {
                font-size: 30px;
                color:#54977C
            }
</style>

<body>
    <div class="contenu-principal">                
        <div class="grid-container"> 
            <fieldset class="fieldset">
                <legend>Qu’est-ce que la Numérologie ?</legend>     
            <p class="intro">   
                C’est une discipline qui se définit comme l’étude de la signification des nombres.
                Comme son nom l’indique, elle va plus loin que le nombre en lui même, chaque nombre
                possède des propriétés et vibrations différentes.<br>
                La numérologie est discipline ancestrale basée sur les chiffres clés de l’existence. Ces
                chiffres permettent de déduire les caractéristiques marquantes de la personnalité de
                chacun.                  
            </p>
            </fieldset>

            
            <div>
                <fieldset class="fieldset">
                <legend>Pour qui ?</legend>
                <p class="intro">
                    Toutes personnes qui cherche à comprendre, et à connaître ses points forts,
                    et ses points faibles, à avoir des clés pour affronter les défis de la vie etc…
                </p>
                </fieldset>

                <fieldset class="fieldset">

                <legend>Pourquoi ?</legend>
                <p class="intro">
                    Elle vous aidera à découvrir tous les aspects de votre personnalité et à mettre en avant
                    vos capacités et vos potentialités. Elle identifiera également vos besoins personnels, les
                    talents et les différents traits de votre caractère.<br>
                    L’analyse numérologique est idéale si vous voulez examiner votre vie, savoir quelle
                    direction lui donner. Vous pourrez comprendre plus facilement votre personnalité. C’est un
                    excellent moyen de mieux cerner sa destinée, et de vivre pleinement sa vie.<br>
                    Elle permet également de faire des « prévisions numérologiques » de votre année
                    personnelle.
                </p>
                </fieldset>
                <fieldset class="fieldset">
                <legend>Comment ?</legend>
                <p class="intro">
                    La numérologie implique des calculs suivant une technique bien précise.
                    L’interprétation des résultats est basée sur la symbolique des nombres.<br>
                    Il ne s’agit en aucun cas de voyance mais bien d’une interprétation des nombres !
                    Les analyses numérologiques vous seront envoyées en format PDF sur votre mail,
                    vous permettant ainsi des les avoir à disposition et de les imprimer si vous en avez
                    envie.
                </p>
                </fieldset>

                <fieldset class="fieldset" id="tarif-numerologie">
                    <legend>Tarifs</legend>
                    <p class="intro titre">
                        Ananlyse de l’identité : 35€
                    </p>
                    <p class="intro titre">
                        Analyse prévisionnelle : 35€
                    </p>
                    <p class="intro titre">
                        Analyse complète (identité et prévisions) : 65€
                    </p>
                </fieldset>
            </div>
        </div>
    </div>
</body>
<footer>
    {% include 'libeiki/footer.html' %}
</footer>
{% endblock %}