{% extends "libeiki/base.html" %}

{% load static %}

{% block menu %}
    {% include 'libeiki/menu.html' %}
{% endblock %}

{% block content %}

<style>

h4 {
    font-family: "Dosis", sans-serif;
}

.intro {
text-align: justify;
}

.reiki_signe {
    text-align: right;
}

footer {
    background-color: #76B39B;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 12px;
}

@media only screen and (max-width: 1200px) {

.intro {

font-size: 18px;
}

footer {
    background-color: #76B39B;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 9px;
}

.media-object {
        flex-direction: column-reverse;
    }

    .media-object-section {
        width: 100%;
    }

    .thumbnail {
        margin-bottom: 100px; /* Adjust as needed */
    }

    .lignee {
        top: 0;
        left: 0;
        height: auto;
    } 
}
</style>

<body>
    <div class="contenu-principal">                
                <div class="grid-container">
                      
                    
                    <h4>Qui suis-je ?</h4>
                    <p class="intro">                        
                        Suite à une expérience professionnelle de plus de 20 ans 
                        en tant qu’assistante dentaire, un métier que j'ai exercé 
                        avec passion, j'ai décidée de m’orienter dans une dynamique 
                        plus reliée à l’humain et au bien-être par le biais de soins 
                        et de numérologie. Après toutes ces années, 
                        je me suis rendue compte que j’avais besoin de modifier 
                        certaines choses dans ma vie. 
                        C’est pourquoi j’ai entamé des changements profonds. 
                        Et en 2022, j'ai osé repartir de zéro, recommencer, 
                        essayer de nouvelles choses.
                    </p>
                    <p class="intro">                        
                        J’ai donc pris du temps pour moi, 
                        j’ai voyagé, fait de belles rencontres, 
                        et me suis intéressée à différentes approches naturelles. 
                        J’ai d’abord découvert le Reiki, 
                        une expérience presque magique pour moi, 
                        le massage du visage à la baguette Kanza une bulle de douceur 
                        puis la sophrologie, 
                        une méthode pour apprendre à gérer les défis 
                        de la vie quotidienne et à les affronter en 
                        toute autonomie. 
                        Enfin je me suis découverte une  passion pour la numérologie. 
                        C’est pourquoi je vous propose d’explorer votre identité 
                        numérologique et  découvrir des aspects surprenants et
                         amusants de notre personnalité.                      
                    </p>
                    <p class="intro">                          
                        Mon objectif est de vous accompagner vers un meilleur 
                        bien-être, afin que vous trouviez votre propre équilibre. 
                        Je vous guiderai avec bienveillance et dans le respect 
                        de la confidentialité.
                    </p>
                    <p class="intro">       
                        A bientôt, Gabrielle Joaquim.
                    </p>
                
                
                
    </div>


    </body>
<footer>
    {% include 'libeiki/footer.html' %}
</footer>
{% endblock %}