{% extends "libeiki/base.html" %}

{% load static %}

{% block menu %}
    {% include 'libeiki/menu.html' %}
{% endblock %}

{% block content %}

<style>
    body {
    margin: 0;
    font-family: Dosis, sans-serif;
    background-image: url('{% static "/photos/fond.png" %}');
            background-size: cover;
            background-position: center;
            height: 100vh;
}

h4 {
    font-family: "Dosis", sans-serif;
}

p {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    color: black;
}

.intro {

font-size: 18px;
text-align: justify;
color:white;
}

.reiki_signe {
    text-align: right;
}

footer {
    background-color: #76B39B;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 12px;
}

@media only screen and (max-width: 1200px) {

.intro {

font-size: 18px;
}

footer {
    background-color: #76B39B;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 9px;
}

.media-object {
        flex-direction: column-reverse;
    }

    .media-object-section {
        width: 100%;
    }

    .thumbnail {
        margin-bottom: 100px; /* Adjust as needed */
    }

    .lignee {
        top: 0;
        left: 0;
        height: auto;
    } 
}
</style>

<body>
    <div class="contenu-principal">                
                <div class="grid-container">
                      
                    
                      <h4>Qui suis-je ?</h4>
                      <p class="intro">
                        Bonjour, je suis Gabrielle Joaquim, forte d'une expérience de plus de 20 ans en tant
                        qu'assistante dentaire, un métier que j'ai exercé avec passion. Cette expérience m'a
                        beaucoup appris sur les relations humaines, les soins, et bien plus encore. Après toutes
                        ces années, j'ai ressenti le besoin de changer de vie et d'aider, à mon humble niveau,
                        ceux qui en ont besoin. En 2022, j'ai osé repartir de zéro, recommencer, et essayer de
                        nouvelles choses.
                    </p>
                    <p class="intro">       
                        J'ai pris du temps pour moi, ai voyagé, fait de belles rencontres, et me suis intéressée à
                        différentes approches naturelles, tant pour mon propre bien-être que pour en faire profiter
                        le plus grand nombre. J'ai découvert le Reiki, une expérience presque magique pour moi,
                        puis la sophrologie, une méthode pour apprendre à gérer les défis de la vie quotidienne et
                        à les affronter en toute autonomie. Je suis également passionnée par la numérologie.
                        Explorer la signification des nombres permet de découvrir des aspects surprenants et
                        amusants de notre personnalité.                       
                    </p>
                    <p class="intro">       
                        Mon objectif est de vous accompagner vers un meilleur bien-être, afin que vous trouviez
                        votre propre équilibre. Je vous guiderai avec bienveillance et dans le respect de la
                        confidentialité.
                    </p>
                    <p class="intro">       
                        A bientôt, Gabrielle Joaquim.
                    </p>
                
                
                
    </div>


    </body>
<footer>
    {% include 'libeiki/footer.html' %}
</footer>
{% endblock %}