{% extends "libeiki/base.html" %}

{% load static %}

{% block menu %}
    {% include 'libeiki/menu.html' %}
{% endblock %}

{% block content %}

<style>

.reiki_signe {
    text-align: right;
}

@media only screen and (max-width: 768px) {
}
</style>

<body>
    <div class="contenu-principal">                
        <div class="grid-container">
            
            <h3></h3>      
            <fieldset class="fieldset">    
                <legend>Qu'est-ce que le Reiki ?</legend> 
            <p class="intro">                       
                Le Reiki est une forme de thérapie énergétique d'origine japonaise. 
                Il repose sur l'idée que l'énergie vitale universelle, appelée "ki" ou "chi", peut être canalisée pour favoriser la guérison et l'harmonie physique, 
                mentale et émotionnelle. Les praticiens de Reiki utilisent des positions des mains sur ou près du corps du receveur pour faciliter 
                le flux de cette énergie et promouvoir une sensation de bien-être.
                Le Reiki trouve ses racines au Japon au début du 20e siècle. 
                Mikao Usui, un moine bouddhiste japonais, est crédité de la redécouverte et du développement du Reiki. 
                L'histoire raconte qu'Usui a entrepris une quête spirituelle et de guérison, 
                cherchant à comprendre comment Jésus-Christ pratiquait la guérison miraculeuse.
                Après une période de méditation et d'illumination sur le mont Kurama, Mikao Usui a formulé les principes fondamentaux du Reiki, 
                une pratique basée sur le transfert d'énergie universelle pour favoriser la guérison physique, mentale et spirituelle.
            </p>
            <div class="grid-x">
                <div class="cell small-12 medium-12 large-6">
                    <img class="reiki_exp" src="{% static '/photos/reiki_exp.jpg' %}" alt="Qu'est-ce que le reiki" class="image-reiki" width="35%">
                </div>
                <div class="cell small-12 large-6" style="padding:10px;">
                    <img src="{% static '/photos/image002.png' %}" alt="Signe du reiki reiki" class="signe-reiki" width="25%">
                </div>
            </div>
            </fieldset>
            <div>
                
                <fieldset class="fieldset">    
                    <legend>Pour qui ?</legend>
                <p class="intro">
                    Pour tous, il n’y a pas de limite d’âge ni de contre indication, du nourrisson à l’enfant, de
                    l’adolescent à l’adulte, en passant de la femme enceinte et à la personne âgé. Chacun est
                    apte à recevoir et à bénéficier des bienfaits du Reiki.
                </p>
                <p class="intro italic">
                    Les soins Reiki ne remplacent pas les consultations chez un médecin mais ils peuvent être
                    un complément de traitement.
                </p>
                </fieldset>

                <fieldset class="fieldset">
                <legend>Pourquoi ?</legend>
                <p class="intro">
                    Le Reiki est souvent associé à des bienfaits tels que la réduction du stress, 
                    la relaxation profonde, le soulagement des tensions musculaires, 
                    l'amélioration du sommeil et la promotion d'un équilibre énergétique. 
                    Cependant, les résultats peuvent varier d'une personne à l'autre. 
                    Il est important de considérer le Reiki comme une approche complémentaire plutôt qu'un substitut aux soins médicaux conventionnels.
                </p>
                <p class="intro">
                    Le Reiki s’adaptera à vos besoins spécifiques. il n’ y aura rien à faire, aucun effort à fournir
                    si ce n’est de vous détendre et de vous laisser aller pour ce voyage énergétique intérieur.
                </p>
                <p class="intro">
                    Même si des améliorations peuvent se faire ressentir dès la première séance, plusieurs
                    séances (3-5) consécutives à intervalle rapproché sont souvent nécessaires pour
                    permettre à l’organisme de se rééquilibrer.
                </p>
                </fieldset>
                
                
                <fieldset class="fieldset">
                    <legend>Comment ?</legend>
                <p class="intro">
                    <span style="color:black;">Avant la séance :</span> nous échangeront pour vous expliquer en quelques mots ce qu’est le
                    Reiki et comment va se dérouler la séance. Également, nous pourrons déterminer la
                    nature des tensions, ainsi que les raisons de votre visite et de vos attentes.<br>
                    <span style="color:black;">Pendant la séance :</span> vous restez habillé, allongé sur une table de massage. Pour faciliter
                    la relaxation et la circulation de l’énergie vous ôterez simplement vos chaussures, et
                    accessoires. Vous serez recouvert d’une couverture afin d’être à aise et puissiez vous
                    détendre.
                    Une séance de Reiki consiste en une série d’imposition des mains sur différentes parties
                    du corps. Chaque imposition dure quelques minutes et peut se faire sur les deux faces du
                    corps. Dans certains cas je pourrai aussi me focaliser plus longuement sur une zone
                    précise ou procéder à une harmonisation des points d’énergie.<br>
                    <span style="color:black;">Après la séance :</span> Lorsque la séance est terminé, une période de détente et calme est
                    indispensable afin de vous laissez prendre conscience de ce qui vient de se passer et de
                    réintégrer votre corps. Un petit échange verbal entre nous permettra d’exprimer vos
                    ressentis et de répondre à vos questions.<br>
                    Une séance dure entre 1h et 1h15
                </p>
                </fieldset>
                
                <fieldset class="fieldset">
                <legend>Et à distance alors ?</legend>
                <p class="intro">
                    Les effets seront identiques à une séance à domicile.<br>
                    Idéal pour les personne avec peu de temps libre et/ou ayant des contraintes
                    personnelles et/ou professionnelles, les personnes qui ont du mal a lâcher
                    prise et de se détendre face à un thérapeute, vous serez complètement libre ,
                    sans crainte du jugement puisque pas de rdv fixe. Vous pourrez vaquer à vos
                    occupations librement et vous détendre. Je m’occupe de vous.<br>
                    Grace à cette technique d’envoi à distance, les frontières entre le temps et l’
                    espace sont abolies. L’énergie est envoyée par la pensée, elle sera donc de
                    ce fait dirigée ou sera placée mon intention (démontrée par la physique
                    quantique).<br>
                    Difficile a croire hein ?! essayez ;)<br>
                </p>
                <p class="intro italic">
                    Le reiki ne se substitue en aucun cas a la médecine traditionnelle ni aucun
                    traitement en cous ou a venir.
                </p>
                </fieldset>

                <fieldset class="fieldset" id="tarif-reiki">
                    <legend>Tarifs</legend>
                    <p class="intro">
                        Séance à domicile : 85€
                    </p>
                    <p class="intro">
                        Séance à distance : 85€
                    </p>
                    <p class="intro">
                        Forfait 4 séances 320€ (économisez 20€ avec cette formule).
                    </p>
                    <p class="intro">
                        Pour des améliorations qui perdurent dans le temps, en fonction de votre objectif, 
                        il est conseillé de prévoir quatre séances, idéalement espacées de 48 heures à 10 jours. 
                        Cette série de séances, optimale pour un travail approfondi, 
                        devrait être planifiée sur une période n'excédant pas six semaines après la première séance.
                    </p>
                    </fieldset>
            </div>                   
        </div>                
    </div>
</body>
<footer>
    {% include 'libeiki/footer.html' %}
</footer>
{% endblock %}