{% extends "ced091/base.html" %}

{% load static %}

{% block menu %}
    {% include 'libeiki/menu.html' %}
{% endblock %}

{% block content %}

<style>
    h4 {
        font-family: "Dosis", sans-serif;
    }
    h5 {
    font-family: "Dosis", sans-serif;
    }

    .intro {
        text-align: justify;
    }

    .reiki_signe {
        text-align: right;
    }

    .italic {
    font-style: italic;
    }

    @media only screen and (max-width: 768px) {
        .intro {
            font-size: 18px;
        }
    }
</style>
<body>
    <div class="contenu-principal">                
        <div class="grid-container">              
            <h4>Qu’est-ce que la Sophrologie ?</h4>                        
            <p class="intro">
                La sophrologie est une méthode de développement personnel qui combine des
                techniques de relaxation, de respiration, de visualisation et de mouvements
                simples. Elle vise à harmoniser le corps et l'esprit, favorisant ainsi le bien-être et la
                gestion du stress.<br>
                Créée par le neuropsychiatre Alfonso Caycedo dans les années 1960, la
                sophrologie repose sur l'idée que la conscience de soi et la détente physique
                contribuent à un équilibre psychologique.
            </p>
            <h5>POUR QUI ?</h5>
            <p class="intro">
                Elle s'adresse à toute personne cherchant à améliorer son existence et développer un
                mieux-être et apprendre à détendre.
            </p>
            <h5>POURQUOI ?</h5>
            <p class="intro">
                La sophrologie est souvent utilisée pour améliorer la gestion du stress, l'estime de
                soi, la concentration, et peut être appliquée dans divers contextes tels que la santé,
                le sport, l'éducation et la préparation mentale.<br>
                Chaque séance peut être adaptée en fonction de vos besoins spécifiques.
            </p>
            <h5>COMMENT ?</h5>
            <p class="intro">
                Avant la séance : Nous discuterons pour comprendre vos besoins, vos objectifs et
                éventuellement vos éventuelles préoccupations.
                Je vous expliquerai les techniques qui seront utilisées pendant la séance. Cela peut
                inclure des exercices de respiration, de relaxation musculaire, des visualisations et des
                mouvements simples.<br>
                Pendant la séance:vous serez invité à adopter des positions confortables, souvent assis
                ou debout, et à vous laisser guider par moi à travers les exercices. Ces exercices visent à
                favoriser la détente physique, la conscience de soi et la concentration.<br>
                Après la séance: nous échangeront sur votre expérience, les sensations éventuellement
                ressenties et de la manière dont les techniques pourront être intégrées dans votre vie
                quotidienne.<br>
                Les séances dure entre 1h et 1h15.
                <p class="intro italic">
                    La sophrologie est complémentaire à un traitement médical, mais ne le remplace
                    pas, de même qu’elle ne se substitue pas à l’écoute d’un psychologue.
                </p>                
            </p>         
        </div>
    </div>
</body>
<footer>
    {% include 'libeiki/footer.html' %}
</footer>
{% endblock %}