{% extends "ced091/base.html" %}

{% load static %}

{% block menu %}
    {% include 'libeiki/menu.html' %}
{% endblock %}

{% block content %}

<style>
    body {
    margin: 0;
    font-family: Dosis, sans-serif;
    background-image: url('{% static "/photos/fond.png" %}');
            background-size: cover;
            background-position: center;
            height: 100vh;
}

p {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    color: black;
}

.intro {

font-size: 18px;
text-align: justify;
color:white;
}

.reiki_signe {
    text-align: right;
}

footer {
    background-color: #76B39B;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 12px;
}

@media only screen and (max-width: 768px) {

.intro {

font-size: 18px;
}

footer {
    background-color: #76B39B;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 9px;
}
}
</style>

<body>
    <div class="contenu-principal">                
                <div class="grid-container">     
                              
                    <p class="intro">
                        Qu’est-ce que la Sophrologie ? <br> <br>                        

                        La sophrologie est une méthode de développement personnel qui combine des techniques de relaxation, 
                        de respiration, de visualisation et de mouvements simples. Elle vise à harmoniser le corps et l'esprit, 
                        favorisant ainsi le bien-être et la gestion du stress. Créée par le neuropsychiatre Alfonso Caycedo dans les années 1960, 
                        la sophrologie repose sur l'idée que la conscience de soi et la détente physique contribuent à un équilibre psychologique.
                    </p>
                    <br>
                    <p class="intro">       
                        Au cours d'une séance de sophrologie, le praticien guide la personne à travers des exercices qui peuvent inclure des respirations profondes, 
                        des visualisations positives et des mouvements doux. L'objectif est d'atteindre un état de conscience modifiée, 
                        appelé "niveau sophroliminal", propice à la détente et à l'exploration de ses propres ressources intérieures. 
                        La sophrologie est souvent utilisée pour améliorer la gestion du stress, l'estime de soi, la concentration, 
                        et peut être appliquée dans divers contextes tels que la santé, le sport, l'éducation et la préparation mentale.                       
                    </p>
                    <br>
                    <p class="intro">       
                        Comment se déroule une séance de sophrologie ?<br>
                        Une séance de sophrologie se déroule généralement en plusieurs étapes :
                    </p>   
                    <br>
                    <p class="intro">       
                        1. Entretien préliminaire : <br>
                        Le sophrologue discute avec le participant pour comprendre ses besoins, 
                        ses objectifs et éventuellement ses éventuelles préoccupations.
                    </p>   
                    <br>
                    <p class="intro">       
                        2. Explication des techniques :<br>
                        Le sophrologue explique les techniques qui seront utilisées pendant la séance. 
                        Cela peut inclure des exercices de respiration, de relaxation musculaire, 
                        des visualisations et des mouvements simples.
                    </p> 
                    <br>
                    <p class="intro">       
                        3. Pratique :<br>       
                        Le participant est invité à adopter des positions confortables, 
                        souvent assis ou debout, et à se laisser guider par le sophrologue à travers les exercices. 
                        Ces exercices visent à favoriser la détente physique, la conscience de soi et la concentration.
                    </p>                  
                    <br>
                    <p class="intro">       
                        4. Retour :<br>
                        À la fin de la séance, le sophrologue discute avec le participant de son expérience, 
                        des sensations éventuellement ressenties et de la manière dont 
                        les techniques peuvent être intégrées dans la vie quotidienne.
                    </p> 
                    <br>
                    <br>
                    <p class="intro">       
                        La sophrologie peut être pratiquée individuellement ou en groupe. 
                        Elle est souvent utilisée comme un outil de gestion du stress, d'amélioration de la qualité du sommeil, 
                        et pour renforcer la confiance en soi. Chaque séance peut être adaptée en fonction des besoins spécifiques de la personne.
                    </p>

                    
                </div>

    </div>
    </body>
    <footer>
        <p>LIBEIKI © Gabrielle JOAQUIM - SIRET - XXX XXX XXX XXXXX - www.libeiki.fr - 2023</p>
      </footer>
{% endblock %}