{% extends "libeiki/base.html" %}

{% load static %}

{% block menu %}
    {% include 'libeiki/menu.html' %}
{% endblock %}

{% block content %}
<style>
    body {
    margin: 0;
    font-family: Dosis, sans-serif;
    background-image: url('{% static "/photos/fond.png" %}');
            background-size: cover;
            background-position: center;
            height: 100vh;
}

h4 {
    font-family: "Dosis", sans-serif;
    text-align: center;
}
</style>

<body>
    <div class="contenu-principal">                
        <div class="grid-container">  
            <h4>Tarifs Massage Baguette Kansa</h4> 
            <p>
                Massage de 30 min : 40€
            </p>
            <p>
                Massage d’1h : 75€
            </p>
            <p>
                Forfait 4 séances de  30 minutes 150€ (économisez 10€).
            </p>
            <p>
                Forfait 4 séances d'une heure 290€ (économisez 10€).
            </p>
        </div>
    </div>
</body>
{% endblock %}