{% extends "libeiki/base.html" %}

{% load static %}

{% block menu %}
    {% include 'libeiki/menu.html' %}
{% endblock %}

{% block content %}
<style>
</style>

<body>
    <div class="contenu-principal">                
        <div class="grid-container">  
            <h3 class="titre">Tarifs scéance de Reiki </h3> 
            <p class="intro titre">
                Séance à domicile : 85€
            </p>
            <p class="intro titre">
                Séance à distance : 85€
            </p>
            <p class="intro titre">
                Forfait 4 séances 320€ (économisez 20€ avec cette formule).
            </p>
            <p class="intro">
                Pour des améliorations qui perdurent dans le temps, en fonction de votre objectif, 
                il est conseillé de prévoir quatre séances, idéalement espacées de 48 heures à 10 jours. 
                Cette série de séances, optimale pour un travail approfondi, 
                devrait être planifiée sur une période n'excédant pas six semaines après la première séance.
            </p>
        </div>
    </div>
</body>
<footer>
    {% include 'libeiki/footer.html' %}
</footer>
{% endblock %}