{% extends "libeiki/base.html" %}

{% load static %}

{% block menu %}
    {% include 'libeiki/menu.html' %}
{% endblock %}

{% block content %}

<body>
    <div class="contenu-principal">                
        <div class="grid-container">  
            <h3 class="titre">Tarifs Numérologie </h3> 
            <p class="intro titre">
                Ananlyse de l’identité : 35€
            </p>
            <p class="intro titre">
                Analyse prévisionnelle : 35€
            </p>
            <p class="intro titre">
                Analyse complète (identité et prévisions) : 65€
            </p>
        </div>
    </div>
</body>
<footer>
    {% include 'libeiki/footer.html' %}
</footer>
{% endblock %}


