{% extends "libeiki/base.html" %}

{% load static %}

{% block menu %}
    {% include 'libeiki/menu.html' %}
{% endblock %}

{% block content %}

<style>
    body {
    margin: 0;
    font-family: Dosis, sans-serif;
    background-image: url('{% static "/photos/fond.png" %}');
            background-size: cover;
            background-position: center;
            height: 100vh;
    }

    h4 {
        font-family: "Dosis", sans-serif;
    }

    h5 {
    font-family: "Dosis", sans-serif;
    }
    .liste-blanc {
        color:white;
    }

    p {
        margin-bottom: 5px;
        margin-top: 5px;
        text-align: center;
        color: black;
    }

    .intro {
        font-size: 18px;
        text-align: justify;
        color:white;
    }

    .reiki_signe {
        text-align: right;
    }

    @media only screen and (max-width: 768px) {
        .intro {
            font-size: 18px;
        }
    }
</style>

<body>
    <div class="contenu-principal">                
        <div class="grid-container">              
            <h4>Qu’est ce que le massage baguette Kansa?</h4>                        
            <p class="intro">
                Il s’agit d’un massage du crâne, du visage, du cou et des épaules, qui se
                pratique à l’aide de la baguette kanza, et d’huiles naturelles.<br>
                Le mot Kansa prononcé comme « Kaahn-sah » est réputé pour être un métal
                guérisseur de l’Inde. Il s’agit d’un mélange de cuivre pur et d’étain à
                proportion fixe; une version unique du bronze.<br>
                Dans l’ayurveda, l’ancienne science indienne de la vie, a vénéré le Kanza en
                tant que métal guérisseur et l’a utilisé pour guérir le corps, reconnaissant
                ainsi l’e et détoxiquant du kanza depuis des siècles.
            </p>
            <h5>POUR QUI ?</h5>
            <p class="intro">
                Pour tous, il n’y a pas de limite d’âge ni de contre indication, du nourrisson à l’enfant, de
                l’adolescent à l’adulte, en passant de la femme enceinte et à la personne âgé. Chacun est
                apte à recevoir et à bénéficier des bienfaits du Reiki.
            </p>   
            <h5>POUR QUOI ?</h5>
            <p class="intro">
                Le massage à la baguette kanza permet de:
                <ul>
                    <li class="liste-blanc">Soulager la fatigue résultant d’une utilisation prolongée des écrans.</li>
                    <li class="liste-blanc">Réduire les sensations de stress et les tensions.</li>
                    <li class="liste-blanc">Détendre les muscles du cou et des épaules.</li>
                    <li class="liste-blanc">Revitaliser le visage en lui apportant une lueur naturelle.</li>
                    <li class="liste-blanc">Aider à se détendre globalement.</li>
                </ul>
            </p>
            <p class="intro">
                Il peut aussi être utilisé pour :
                <ul>
                    <li class="liste-blanc">Les courbatures.</li>
                    <li class="liste-blanc">Le manque d’énergie.</li>
                    <li class="liste-blanc">Les coups de fatigue.</li>
                    <li class="liste-blanc">Le manque d’énergie.</li>
                </ul>
            </p>     
            <h5>COMMENT ?</h5>
            <p class="intro">
                Vous restez habillé, allongé sur une table de massage. Pour faciliter la relaxation, vous
                ôterez simplement vos chaussures, et accessoires autour du visage . Vous serez
                recouvert d’une couverture afin d’être à aise et puissiez vous détendre. Laisser vous aller
                à se moment de bien-être rien que vous. 
            </p>             
        </div>
    </div>
</body>
<footer>
    {% include 'libeiki/footer.html' %}
</footer>
{% endblock %}