{% extends "ced091/base.html" %}

{% load static %}

{% block content %}

<style>
    .thumbnail {
        width: 50%;
    }
</style>
<div class="grid-container">

    
    <div class="grid-x">
        <div class="cell small-2 large-2">
            <img class="thumbnail" src="{% static 'favicon.ico' %}"  style="width: 70%">
        </div>
        <div class="cell small-10 large-10">
            <h1 style="text-align: left;">Bienvenue sur CED091</h1>
        </div>
    </div>
    <fieldset class="fieldset">
        <legend>Menu</legend>
            <p>
                <div class="grid-x">
                    <div class="cell small-4 large-3">
                        <a class="button secondary" href="{% url 'station_meteo:accueil' %}">Station Météo</a></p></br>
                    </div>
                    <div class="cell small-4 large-3">
                        <a class="button secondary" href="#">Pronostic</a></br>
                    </div>
                    <div class="cell small-4 large-3">
                        <a class="button secondary" href="{% url 'pokelira:accueil' %}">Pokélira</a>
                    </div>
                    <div class="cell small-4 large-3">
                        <a class="button secondary" href="{% url 'libeiki:accueil' %}">Site Gabrielle</a>
                    </div>
                    <div class="cell small-4 large-3">
                        <a class="button secondary" href="{% url 'docs:main' 'index.html' %}">Documentation</a>
                    </div>
                </div>
            </p>
    </fieldset>

    <img class="thumbnail" src="{% static '/photos/mathis_26_03_23.jpg' %}" alt="Mathis in the air">
    
</div>
{% endblock %}