{% extends "ced091/base.html" %}

{% block content %}
<div class="grid-container">
    
    <div >
        <h1 style="text-align: center;">Bienvenue sur CED091</h1>
    </div>
    <p>Bonjour, nous sommes le {{ date_nom }}</p>
    <fieldset>
        <legend>Menu</legend>
            <p>
                <a href="{% url 'station_meteo:accueil' %}">Station Météo</a></p></br>
                <a href="#">Pronostic</a></br>
                <a href="https://padlet.com/grouperougeimeandrenouaille/projet-village-nature-1nrax6vow7ovkc99">Séjour Simon</a>
            </p>
    </fieldset>
</div>
{% endblock %}