{% extends "ced091/base.html" %}

{% load static %}

{% block content %}

<style>
    .thumbnail {
        width: 50%;
    }
</style>
<div class="grid-container">
    
    <div >
        <h1 style="text-align: center;">Bienvenue sur CED091</h1>
    </div>
    <p>Bonjour, nous sommes le {{ date_nom }}</p>
    <fieldset class="fieldset">
        <legend>Menu</legend>
            <p>
                <div class="grid-x">
                    <div class="cell small-4 large-3">
                        <a class="button secondary" href="{% url 'station_meteo:accueil' %}">Station Météo</a></p></br>
                    </div>
                    <div class="cell small-4 large-3">
                        <a class="button secondary" href="#">Pronostic</a></br>
                    </div>
                    <div class="cell small-4 large-3">
                        <a class="button secondary" href="https://padlet.com/grouperougeimeandrenouaille/projet-village-nature-1nrax6vow7ovkc99">Séjour Simon</a>
                    </div>
                    <div class="cell small-4 large-3">
                        <a class="button secondary" href="{% url 'libeiki:accueil' %}">Site Gabrielle</a>
                    </div>
                </div>
            </p>
    </fieldset>

    <img class="thumbnail" src="{% static '/photos/mathis_26_03_23.jpg' %}" alt="Mathis in the air">
    
</div>
{% endblock %}