{% extends "ced091/base.html" %}

{% block content %}
    <fieldset class="fieldset large-12 cell">
      <div class="grid-x grid-padding-x">
        <div class="medium-12 cell" >
          <canvas id="chart_hum"></canvas>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="medium-12 cell">
          <canvas id="chart_press"></canvas>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="medium-12 cell">
          <canvas id="chart_temp"></canvas>
        </div>
      </div>
    </fieldset>

{% endblock %}

{% block script %}
  <script>
  let ctx = document.getElementById("chart_hum").getContext("2d");
  let data_hum = {{ data_hum|safe }};
  data_hum.forEach(function(item) {
    item.x = new Date(Date.parse(item.x));
  });
  var labels = [];
  for (var i = 0; i < data_hum.length; i++) {
    // Créez un objet Moment à partir de la date
    var date = moment(data_hum[i].x, "MM/DD/YYYY HH:mm:ss");
    // Formatez la date dans le format souhaité
    var label = date.format("DD/MM/YYYY HH:mm:ss");
    // Ajoutez l'étiquette formatée au tableau
    labels.push(label);
  }

  let chart_hum = new Chart(ctx, {
    type: "line",
    xValueType: "dateTime",
    data: {
      labels: labels,
      datasets: [
          {
            label: "Humidite",
            borderColor: "#417690",
            data: data_hum,
            showLine: true,
            pointRadius: 3,
          }
      ]
    },
    options: {
      title: {
          text: "Humidite",
          display: true,
          fontSize: 15
      },
      scales: {
          yAxes: [{
              scaleLabel: {
              display: true,
              labelString: 'Humidite (%)',
              fontSize: 15
            }
          }],
          xAxes: [{
              scaleLabel: {
              display: true,
              labelString: 'Duration (min)',
              fontSize: 15,
              type:'time',
              time: {
                displayFormats: {
                  'millisecond': 'DD/MM/YYYY',
                  'second': 'DD/MM/YYYY',
                  'minute': 'DD/MM/YYYY',
                  'hour': 'DD/MM/YYYY',
                  'day': 'DD/MM/YYYY',
                  'week': 'DD/MM/YYYY',
                  'month': 'DD/MM/YYYY',
                  'quarter': 'DD/MM/YYYY',
                  'year': 'DD/MM/YYYY',
                    }
                }
              },
          }],
        },
    }
  });

  let ctx1 = document.getElementById("chart_press").getContext("2d");
  let data_press = {{ data_press|safe }};
  data_press.forEach(function(item) {
    item.x = new Date(Date.parse(item.x));
  });
  var labels = [];
  for (var i = 0; i < data_press.length; i++) {
    // Créez un objet Moment à partir de la date
    var date = moment(data_press[i].x, "MM/DD/YYYY HH:mm:ss");
    // Formatez la date dans le format souhaité
    var label = date.format("DD/MM/YYYY");
    // Ajoutez l'étiquette formatée au tableau
    labels.push(label);
  }

  let chart_press = new Chart(ctx1, {
    type: "line",
    xValueType: "dateTime",
    data: {
      labels:labels,
      datasets: [
          {
            label: "Pression",
            borderColor: "#417690",
            data: data_press,
            showLine: true,
            pointRadius: 3,
          }
      ]
    },
    options: {
      title: {
          text: "Pression",
          display: true,
          fontSize: 15
      },
      scales: {
          yAxes: [{
              scaleLabel: {
              display: true,
              labelString: 'Pression (bar)',
              fontSize: 15
            }
          }],
          xAxes: [{
              scaleLabel: {
              display: true,
              labelString: 'Duration (min)',
              fontSize: 15
              },
          }],
        },
    }
  });

  let ctx2 = document.getElementById("chart_temp").getContext("2d");
  let data_temp = {{ data_temp|safe }};
  data_temp.forEach(function(item) {
    item.x = new Date(Date.parse(item.x));
  });
  var labels = [];
  for (var i = 0; i < data_temp.length; i++) {
    // Créez un objet Moment à partir de la date
    var date = moment(data_temp[i].x, "MM/DD/YYYY HH:mm:ss");
    // Formatez la date dans le format souhaité
    var label = date.format("DD/MM/YYYY");
    // Ajoutez l'étiquette formatée au tableau
    labels.push(label);
  }

  let chart_temp = new Chart(ctx2, {
    type: "line",
    xValueType: "dateTime",
    data: {
      labels: labels,
      datasets: [
          {
            label: "Temperature",
            borderColor: "#417690",
            data: data_temp,
            showLine: true,
            pointRadius: 3,
          }
      ]
    },
    options: {
      title: {
          text: "Temperature",
          display: true,
          fontSize: 15
      },
      scales: {
          yAxes: [{
              scaleLabel: {
              display: true,
              labelString: 'Temperature (°C)',
              fontSize: 15
            }
          }],
          xAxes: [{
              scaleLabel: {
              display: true,
              labelString: 'Duration (min)',
              fontSize: 15
              },
          }],
        },
    }
  });

  </script>
{% endblock %}
